@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5hmjvo');
  src:  url('../fonts/icomoon.eot?5hmjvo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5hmjvo') format('truetype'),
    url('../fonts/icomoon.woff?5hmjvo') format('woff'),
    url('../fonts/icomoon.svg?5hmjvo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e902";
}
.icon-gitter:before {
  content: "\e900";
}
.icon-patreon:before {
  content: "\e901";
}
.icon-flattr:before {
  content: "\ead6";
}

